## División dataset para cada monitor (evitar problemas cómputo)

In [1]:
# Carga dataset learning
import pandas as pd

dir = '../0_Datasets/'

# Carga dataset learning
df_learning = pd.read_csv(dir + 'Learning-Datasets/new_measurements_learning_6.csv')
print(f'Size of learning dataset: {df_learning.shape}')
df_learning.head()

Size of learning dataset: (834720, 16)

,id,measure_id,monitor_id,landmark_id,landmark_type,dst_ip,ping_rtt1,ping_rtt2,ping_rtt3,ping_rtt4,ping_rtt5,ping_rtt_avg,ping_rtt_std,direct_distance_kms,init_time,end_time
0,139713,95.217.19.69_2024-11-27 13:31:04,monitor_5_Warsaw_PL,9404,ripe_anchor,95.217.19.69,43.396,43.285,43.153,43.413,43.361,43.3216,0.09509,934.999404,2024-11-27 13:31:04,2024-11-27 13:31:10
1,139714,95.217.19.69_2024-11-27 13:31:04,monitor_2_Frankfurt am Main_DE,9404,ripe_anchor,95.217.19.69,29.764,30.024,30.169,29.848,29.768,29.9146,0.15830,1530.246007,2024-11-27 13:31:04,2024-11-27 13:31:10
2,139715,95.217.19.69_2024-11-27 13:31:04,monitor_6_Milan_IT,9404,ripe_anchor,95.217.19.69,44.189,44.295,44.580,44.130,44.185,44.2758,0.16121,1954.678802,2024-11-27 13:31:04,2024-11-27 13:31:10
3,139716,95.217.19.69_2024-11-27 13:31:04,monitor_1_Madrid_ES,9404,ripe_anchor,95.217.19.69,58.439,58.898,58.747,58.634,58.173,58.5782,0.25197,2963.403860,2024-11-27 13:31:04,2024-11-27 13:31:10
4,139717,95.217.19.69_2024-11-27 13:31:04,monitor_3_Dublin_IE,9404,ripe_anchor,95.217.19.69,44.494,45.022,44.098,44.170,44.756,44.5080,0.34878,2031.641470,2024-11-27 13:31:04,2024-11-27 13:31:11

### División datasets de cada monitor

In [2]:
# Según columna monitor_id, imprime los valores únicos
print(df_learning['monitor_id'].unique())

['monitor_5_Warsaw_PL' 'monitor_2_Frankfurt am Main_DE'
 'monitor_6_Milan_IT' 'monitor_1_Madrid_ES' 'monitor_3_Dublin_IE'
 'monitor_4_Gävle_SE']

In [3]:
# Para cada monitor_id ('monitor_5_Warsaw_PL' 'monitor_2_Frankfurt am Main_DE' 'monitor_6_Milan_IT' 'monitor_1_Madrid_ES' 'monitor_3_Dublin_IE' 'monitor_4_Gävle_SE'), se crea un dataset
df_1_ES = df_learning[df_learning['monitor_id'] == 'monitor_1_Madrid_ES']
df_2_DE = df_learning[df_learning['monitor_id'] == 'monitor_2_Frankfurt am Main_DE']
df_3_IE = df_learning[df_learning['monitor_id'] == 'monitor_3_Dublin_IE']
df_4_SE = df_learning[df_learning['monitor_id'] == 'monitor_4_Gävle_SE']
df_5_PL = df_learning[df_learning['monitor_id'] == 'monitor_5_Warsaw_PL']
df_6_IT = df_learning[df_learning['monitor_id'] == 'monitor_6_Milan_IT']

# Tamaño de cada dataset
print(f'Size of dataset 1 ES: {df_1_ES.shape}')
print(f'Size of dataset 2 DE: {df_2_DE.shape}')
print(f'Size of dataset 3 IE: {df_3_IE.shape}')
print(f'Size of dataset 4 SE: {df_4_SE.shape}')
print(f'Size of dataset 5 PL: {df_5_PL.shape}')
print(f'Size of dataset 6 IT: {df_6_IT.shape}')

Size of dataset 1 ES: (139120, 16)
Size of dataset 2 DE: (139120, 16)
Size of dataset 3 IE: (139120, 16)
Size of dataset 4 SE: (139120, 16)
Size of dataset 5 PL: (139120, 16)
Size of dataset 6 IT: (139120, 16)

In [4]:
# Guarda los datasets en un archivo csv
df_1_ES.to_csv(dir + 'Learning-Datasets/learnData_monit1_ES.csv', index=False)
df_2_DE.to_csv(dir + 'Learning-Datasets/learnData_monit2_DE.csv', index=False)
df_3_IE.to_csv(dir + 'Learning-Datasets/learnData_monit3_IE.csv', index=False)
df_4_SE.to_csv(dir + 'Learning-Datasets/learnData_monit4_SE.csv', index=False)
df_5_PL.to_csv(dir + 'Learning-Datasets/learnData_monit5_PL.csv', index=False)
df_6_IT.to_csv(dir + 'Learning-Datasets/learnData_monit6_IT.csv', index=False)